@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --debit-from: #9644b466 0%;
  --debit-via: #578ec066 66.88%;
  --debit-to: #1dd2d266 98.02%;
  /* New website */
  --color-primary: 8 224 163;
  --color-darkish: #131313;
  --color-grey: #8f8f8f;
  --color-grey-dark: #7d7d7d;
  --color-grey-light: 174 176 176;
  /* Font size */
  --fs-brand: 65px;
  --fs-header: 40px;
  --fs-caption: 32px;
  --fs-caption-sm: 25px;
  --fs-subheader: 25px;
  --fs-body: 18px;
  --fs-body-sm: 14px;
  /* Line height */
  --lh-brand: 70px;
  --lh-header: 46px;
  --lh-caption: 36px;
  --lh-caption-sm: 32px;
  --lh-subheader: 32px;
  --lh-body: 26px;
  --lh-body-md: 26px;
  --lh-body-sm: 20px;
  /* Letter spacing */
  --ls-tight-4: -0.04em;
  --ls-tight-3: -0.03em;
  --ls-tight-2: -0.02em;
  --ls-tight-1: -0.01em;
  /* Letter spacing */
  --ls-tight-4: -0.04em;
  --ls-tight-3: -0.03em;
  --ls-tight-2: -0.02em;
  --ls-tight-1: -0.01em;
}
@media screen and (min-width: 768px) {
  :root {
    /* Font size */
    --fs-brand: 100px;
    --fs-header: 65px;
    --fs-caption: 45px;
    --fs-caption-sm: 40px;
    --fs-subheader: 29px;
    --fs-body: 21px;
    --fs-body-sm: 18px;
    /* Line height */
    --lh-brand: 110px;
    --lh-header: 80px;
    --lh-caption: 50px;
    --lh-caption-sm: 48px;
    --lh-subheader: 36px;
    --lh-body: 29px;
    --lh-body-md: 25px;
    --lh-body-sm: 24px;
  }
}
/* Customizing forms */
@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply font-inter px-5 py-3 w-full rounded-xl placeholder-gray-dark focus:outline-none transition duration-200 focus:border-dark-light focus:bg-white focus:ring-0 border border-border;
  }
  [type="checkbox"] {
    @apply font-inter rounded w-5 h-5 border-gray-400 transition text-blue-medium focus:ring-blue-400;
  }
  [type="radio"] {
    @apply font-inter border-gray-300 text-blue-medium focus:ring-blue-medium;
  }
  label {
    @apply block font-inter font-semibold text-sm leading-6 text-dark-dark mb-1.5;
  }
}
input:disabled {
  background-color: #f2f2f2 !important;
}

/* Fonts */
@font-face {
  font-family: SF Compact Display;
  src: url(./assets/fonts/SFCompactDisplay-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: SF Compact Display;
  src: url(./assets/fonts/SFCompactDisplay-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: SF Compact Display;
  src: url(./assets/fonts/SFCompactDisplay-Regular.ttf);
  font-weight: 500;
}

/* Inter fonts */
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "PP Mori";
  src: url("./assets/fonts/pp-mori/PPMori-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "PP Mori";
  src: url("./assets/fonts/pp-mori/PPMori-SemiBold.otf");
  font-weight: 600;
}
/* Base CSS */
body {
  @apply antialiased;
}

/* Typography */
h1.title-1,
.title-1 {
  font-size: 32px;
  line-height: 52px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
}
h2.title-2 {
  font-size: 18px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
}
h3.title-3 {
  font-size: 22px;
  line-height: 36px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
}
h4.title-4 {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.01em;
}
h6.title-6 {
  font-size: 11px;
  line-height: 14px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
}

.badge-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
}
.badge-text-sm {
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.0075em;
  border-radius: 9px;
}

h2 {
  font-size: 1.75rem;
  @apply font-inter font-bold leading-none;
}
h3 {
  @apply font-inter text-2xl leading-8 font-bold;
}
h4 {
  @apply font-inter text-xl leading-7 font-bold;
}
h5 {
  @apply font-inter text-sm leading-5 font-bold;
}
.button {
  @apply flex items-center min-w-max px-5 py-3 rounded-lg text-white font-inter text-base leading-snug;
}
.error {
  @apply font-inter text-red font-medium text-sm leading-4 mt-1;
}

/* Custom CSS */
.-tracking-wide {
  letter-spacing: -0.01em;
}
.-tracking-widest {
  letter-spacing: -0.0075em;
}
.translate-x-5-5 {
  transform: translateX(22px);
}
.page-link:hover .sidebar-icon {
  color: #4f4f4f;
}
.sidebar-icon {
  background: #efefef;
  color: #828282;
  width: 28px;
  height: 28px;
  padding: 5px;
}
.active-page-link .sidebar-icon,
.active-page-link:hover .sidebar-icon {
  background: #ddeafe;
  color: #2a7dfb;
}
.filter-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Compact Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.0075em;
  padding: 12px 14px;
}
/* Table Design */
.incoming-table thead,
.outgoing-table thead,
.activity-table thead,
.address-book-table thead,
.treasury-pending-table thead,
.treasury-history-table thead,
.safe-overview-coins-table thead,
.coins-table thead {
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.01em;
  color: #919191;
  text-transform: uppercase;
}
.incoming-table tbody,
.outgoing-table tbody,
.activity-table tbody,
.address-book-table tbody,
.treasury-pending-table tbody,
.treasury-history-table tbody,
.safe-overview-coins-table tbody,
.coins-table tbody {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #ececec;
  /* box-shadow: 0 0 0 1px #d2e5ff; */
}
.incoming-table tbody tr td,
.outgoing-table tbody tr td,
.activity-table tbody tr td,
.address-book-table tbody tr td,
.treasury-pending-table tbody tr td,
.treasury-history-table tbody tr td,
.safe-overview-coins-table tbody tr td,
.coins-table tbody tr td {
  background-color: #fff;
}

/* Making TBody Rounded */
.incoming-table tbody tr:first-child td:first-child,
.outgoing-table tbody tr:first-child td:first-child,
.activity-table tbody tr:first-child td:first-child,
.address-book-table tbody tr:first-child td:first-child,
.treasury-pending-table tbody tr:first-child td:first-child,
.treasury-history-table tbody tr:first-child td:first-child,
.safe-overview-coins-table tbody tr:first-child td:first-child,
.coins-table tbody tr:first-child td:first-child {
  border-top-left-radius: 12px;
}
.incoming-table tbody tr:last-child td:first-child,
.outgoing-table tbody tr:last-child td:first-child,
.activity-table tbody tr:last-child td:first-child,
.address-book-table tbody tr:last-child td:first-child,
.treasury-pending-table tbody tr:last-child td:first-child,
.treasury-history-table tbody tr:last-child td:first-child,
.safe-overview-coins-table tbody tr:last-child td:first-child,
.coins-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.incoming-table tbody tr:first-child td:last-child,
.outgoing-table tbody tr:first-child td:last-child,
.activity-table tbody tr:first-child td:last-child,
.address-book-table tbody tr:first-child td:last-child,
.treasury-pending-table tbody tr:first-child td:last-child,
.treasury-history-table tbody tr:first-child td:last-child,
.safe-overview-coins-table tbody tr:first-child td:last-child,
.coins-table tbody tr:first-child td:last-child {
  border-top-right-radius: 12px;
}
.incoming-table tbody tr:last-child td:last-child,
.outgoing-table tbody tr:last-child td:last-child,
.activity-table tbody tr:last-child td:last-child,
.address-book-table tbody tr:last-child td:last-child,
.treasury-pending-table tbody tr:last-child td:last-child,
.treasury-history-table tbody tr:last-child td:last-child,
.safe-overview-coins-table tbody tr:last-child td:last-child,
.coins-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.font-sf-compact {
  font-family: "SF Compact Display", sans-serif;
}
/* .active-page-link::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: calc(100% + 30px);
  transform: translateY(-50%);
  background: url("../icons/active-page-circle.svg") no-repeat center;
  height: 6px;
  width: 6px;
} */
* {
  scroll-behavior: smooth;
}
@keyframes animation-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Forms */
.form-group {
  @apply space-y-1.5 flex flex-col mb-8;
}

/* New Website */
.stream-button {
  background: linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%),
    linear-gradient(46.19deg, #7b61ff 5.66%, #59a0d2 49.09%, #29bb89 93.43%);
  /* background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4); */
}
.learn {
  background: linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%);
}
.join-our {
  background: linear-gradient(46.19deg, #11a49b 5.66%, #90fc8e 94.35%);
}
.footer {
  /* background: linear-gradient(
    46.19deg,
    #533561 5.66%,
    #6c5b7b 49.09%,
    #584357 93.43%
  ); */
  /* background: #fff; */
}

.hero-product-gradient-container {
  width: 95%;
  border-radius: 12 px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
  /* background: -webkit-linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%),
    -webkit-linear-gradient(46.19deg, #7b61ff 5.66%, #59a0d2 49.09%, #29bb89
          93.43%);
  background: linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%),
    linear-gradient(46.19deg, #7b61ff 5.66%, #59a0d2 49.09%, #29bb89 93.43%); */
  opacity: 1;
}

.gradient-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  /* background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4); */
  background: linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%),
    linear-gradient(46.19deg, #7b61ff 5.66%, #59a0d2 49.09%, #29bb89 93.43%);
  text-align: center;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.gradient-text-clipping {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
  /* background: linear-gradient(46.19deg, #692de9 5.66%, #b112e9 94.35%),
    linear-gradient(46.19deg, #7b61ff 5.66%, #59a0d2 49.09%, #29bb89 93.43%); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-link:hover {
  color: rgb(105, 65, 198);
}

.backed-by-img {
  width: 10%;
}
.backed-by-img:first-child,
.backed-by-img:last-child {
  width: 55px;
}
@media screen and (max-width: 1080px) {
  .just-ship-it-img {
    left: 40%;
  }
  .backed-by-img {
    width: 15%;
  }
}
@media screen and (max-width: 768px) {
  .just-ship-it-img {
    left: 20%;
  }
  .backed-by-img {
    width: 20%;
  }
}
@media screen and (max-width: 576px) {
  .backed-by-img {
    width: 25%;
  }
}

.box-gradient {
  opacity: 0;
}
.box-gradient {
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  border-radius: 14px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
}

.easy-to-stream-box-content:hover .box-gradient {
  opacity: 1;
}
.gradient-text {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
  font-size: 24px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-black-image-holder {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 112%;
  padding: 3.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px;
}
.gradient-background-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
  text-align: center;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.block-image-container {
  width: 100%;
  padding: 4em 3.5em;
  border-radius: 14px;
  background-position: 0px 0px;
  background-size: auto;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}
.block-image-container.gradient {
  position: relative;
  overflow: hidden;
  padding-right: 3.5em;
  padding-left: 3.5em;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f5ff6),
    color-stop(62%, #8dc4fa),
    to(#e9bbc4)
  );
  background-image: linear-gradient(90deg, #3f5ff6, #8dc4fa 62%, #e9bbc4);
}
.block-image-content.gradient {
  width: 45%;
  padding-right: 2em;
}
.block-right-image {
  position: absolute;
  left: 45%;
  top: 4.5em;
  border-radius: 12px;
}
@media screen and (max-width: 991px) {
  .block-right-image {
    left: 45%;
    top: 2em;
  }
}
@media screen and (max-width: 767px) {
  .block-image-content.gradient {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-right-image {
    position: relative;
    left: 0%;
    top: 0em;
    display: block;
    margin-top: 2em;
  }
}

/* Wallet Adapter Styling */
.wallet-adapter-button.main-select,
.wallet-adapter-button.connect-wallet {
  transition: all ease-in 200ms;
  height: 44px !important;
  background: rgb(var(--color-primary)) !important;
  /* border-radius: 6px !important; */
  padding: 10px 24px 8px !important;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 400 !important;
  border: 0px solid grey !important;
  color: var(--color-darkish) !important;
  border-radius: 24px !important;
  width: 100%;
  justify-content: center;
}
.wallet-adapter-button.main-select:hover,
.wallet-adapter-button.connect-wallet:hover {
  color: var(--color-darkish) !important;
}
.wallet-adapter-button.main-select.is-connected {
  padding: 10px 12px 8px 24px !important;
  margin-right: 0.5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: auto !important;
  /* justify-content: center; */
}
.wallet-adapter-button.main-select.is-connected:hover {
  background: rgb(var(--color-primary)) !important;
  color: var(--color-darkish) !important;
}
.wallet-adapter-button.connect-wallet {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Disable Arrows in Input Type Number  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar */
/* width */
.custom-scroll {
  overflow-y: scroll;
  scrollbar-color: #e4e7ec #ffffff;
  scrollbar-width: 6px;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 25px;
}
/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #e4e7ec;
  border-radius: 25px;
}
/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

/* React Tooltip */
.customeTheme {
  font-size: 14px !important;
  line-height: 18px !important;
  margin-top: -5px !important;
  color: #fff !important;
  background-color: #000 !important;
  font-weight: 400 !important;
}
.customeTheme.place-top,
.customeTheme::after {
  border-top-color: #000 !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}

/* Animate Progress Bar */
@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* Add on CSS */
.page-link .sidebar-icon {
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}
.page-link:active .sidebar-icon {
  transform: scale(0.85);
}
button:hover {
  transform: scale(1.02);
}
button {
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}
button:active {
  transform: scale(0.98);
}
input:hover {
  transform: scale(1);
}
input {
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}
input:active {
  transform: scale(0.99);
}

.stream-pause-btn:disabled .pause-info-icon {
  display: block;
}
.stream-resume-btn:disabled .resume-info-icon {
  display: block;
}
.stream-cancel-btn:disabled .cancel-info-icon {
  display: block;
}
.incoming-withdraw-btn:disabled .incoming-withdraw-info-icon {
  display: block;
}

/* Onboarding Modal Height */
.onboarding-modal.step0 {
  height: 456px;
}
.onboarding-modal.step1 {
  height: 552px;
}
.onboarding-modal.step1.has-error-1 {
  height: 572px;
}
.onboarding-modal.step1.has-error-2 {
  height: 592px;
}
.onboarding-modal.step2 {
  height: 412px;
}

/* No Wallet Connection - Connect Wallet Button */
.wallet-adapter-button.no-wallet-connection-connect-wallet {
  width: 100% !important;
  background-color: #2a7dfb !important;
}

.wallet-disconnect-button-hidden {
  display: none !important;
}

.notify-svg path:not(:nth-child(2)) {
  fill: #262949;
}
.gradient-button-text {
  @apply font-medium text-sm leading-5 text-white bg-dark-button rounded-lg px-4;
}

.pay-withcrypto-gradient {
  background: linear-gradient(106.12deg, #834d9b 0%, #d04ed6 100%), #232323;
}

.reward-gradient {
  background: linear-gradient(91.17deg, #9644b4 1%, #1dd2d2 99.79%), #232323;
}

.zebec-card-bg {
  background: linear-gradient(252.72deg, #dfdfdf 13.23%, #ccebe0 95.31%);
}

.html-wrapper {
  @apply max-w-[1280px] px-5 md:px-10 mx-auto;
}

/* New Website */
.web-container {
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.web-container * {
  @apply !font-ppmori;
}
@media screen and (min-width: 768px) {
  .web-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.zebec-banner,
.zebec-labs-banner {
  width: 100%;
  min-height: 800px;
  height: calc(100vh - 95px);
}
.zebec-card-banner {
  width: 100%;
  min-height: 850px;
  height: auto;
  background: linear-gradient(252.72deg, #dfdfdf 13.23%, #ccebe0 95.31%);
}

@media screen and (min-width: 640px) {
  .zebec-card-banner {
    min-height: 900px;
  }
}

@media screen and (min-width: 768px) {
  .zebec-card-banner {
    min-height: 800px;
    height: calc(100vh - 95px);
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px !important;
}
.mySwiper .swiper-slide {
  width: auto !important;
  display: flex;
  align-items: center;
}
.mySwiper .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #08e0a3 !important;
}
.dropdown-menu {
  top: calc(100% + 1rem);
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
    height 200ms ease-in-out;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.06),
    0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.02);
}

.dropdown.active > .data-dropdown-button + .dropdown-menu {
  height: 312px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu .dropdown-inner-link {
  color: #141414;
  border: 1px solid rgba(20, 20, 20, 0.08);
  box-shadow: 0px 1px 4px rgba(20, 20, 20, 0.01),
    0px 2px 1px rgba(20, 20, 20, 0.01);
}
